:root {
    /* Couleurs de la maquette */
    --primary-color: #6E00FF;
    --secondary-color: #FF00E5;
    --background-dark: #0B0121;
    --contour-color: #BB9BFF;
    --white-color:#ECECEC;
    
    /* Typographie */
    --font-primary: 'Your-Font', sans-serif;
    --font-size-base: 1.6rem;
    
    /* Espacement */
    --spacing-xs: 0.4rem;
    --spacing-sm: 0.8rem;
    --spacing-md: 1.6rem;
    --spacing-lg: 2.4rem;
    
    /* Breakpoints */
    --mobile: 375px;
    --tablet: 768px;
    --desktop: 1024px;

    /* Animations */
    --transition-speed: 0.3s;
}